<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.yun.ws.dao.CustomertrendsDao">

	<!-- Map结果 -->
	<resultMap type="com.shsnc.yun.ws.entity.Customertrends" id="allMap">
		<result column="AMOUNT" property="amount"/><!-- 用户数量 -->
	</resultMap>
	
	<!-- 到现在用户数 -->
	<select id="showSixthMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 AND oc.CREATE_TIME &lt; now()
	</select>
	
	<!-- 到上一个月用户数 -->
	<select id="showFifthMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 
		AND oc.CREATE_TIME &lt; date_add(curdate(), interval - day(curdate()) + 1 day)
	</select>
	
	<!-- 到上两个月用户数 -->
	<select id="showFourthMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 
		AND oc.CREATE_TIME &lt; date_add(curdate()-day(curdate())+1,interval -1 month)
	</select>
	
	<!-- 到上三个月用户数 -->
	<select id="showThirdMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 
		AND oc.CREATE_TIME &lt; date_add(curdate()-day(curdate())+1,interval -2 month)	
	</select>
	
	<!-- 到上四个月用户数 -->
	<select id="showSecondMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 
		AND oc.CREATE_TIME &lt; date_add(curdate()-day(curdate())+1,interval -3 month)	
	</select>
	
	<!-- 到上五个月用户数 -->
	<select id="showFirstMonth" resultMap="allMap">
		SELECT COUNT(oc.ID) AMOUNT FROM `opm_customer` oc WHERE oc.CUST_STATUS = 1 
		AND oc.CREATE_TIME &lt; date_add(curdate()-day(curdate())+1,interval -4 month)	
	</select>
	 
	
</mapper>