<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsnc.yun.ws.dao.InternetUserDao">

	<!-- Map结果 -->
	<resultMap type="com.shsnc.yun.ws.entity.InternetUser" id="allMap">
		<result column="AMOUNT" property="total"/><!-- 互联网客户产品订购数量 -->
		<result column="NAME" property="userName"/><!-- 互联网客户名称 -->
	</resultMap>
	
	<!-- 互联网客户订购情况（前16产品） -->
	<select id="listInternetUser" resultMap="allMap">
		SELECT COUNT(ooe.ID) AMOUNT, osl.`NAME` AS NAME
		FROM `opm_order_ext` ooe
		LEFT JOIN opm_order oo ON ooe.ORDER_ID = oo.ORDER_ID
		LEFT JOIN opm_customer oc ON oo.CMP_CUSTOMER_ID = oc.ID
		LEFT JOIN opm_service_info osi ON ooe.SERVICE_INFO_ID = osi.ID
		LEFT JOIN opm_service_list osl ON osi.CMP_SERVICE_LIST_ID = osl.ID
		WHERE ooe.`STATUS` = 6
		AND oc.REG_SOURCE IN (0,3)
		AND osl.`NAME` IS NOT NULL
		GROUP BY osl.`NAME`
		ORDER BY AMOUNT DESC
		LIMIT 16
	</select>
	
</mapper>