<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.dao.UserIndustryDao">

	<!-- Map结果 -->
	<resultMap type="com.ws.entity.UserIndustry" id="allMap">
		<result column="AMOUNT" property="total"/><!-- 行业客户数量 -->
		<result column="NAME" property="industryName"/><!-- 行业名称 -->
	</resultMap>
	
	<!-- 客户行业分布 -->
	<select id="listUserIndustry" resultMap="allMap">
		SELECT COUNT(oc.INDUSTRY) AMOUNT, oic.NAME as NAME FROM `opm_customer` oc 
		LEFT JOIN opm_industry_code oic on oic.`CODE` = oc.INDUSTRY
		WHERE oc.CUST_STATUS = 1 
		AND oic.`NAME` IS NOT NULL 
		GROUP BY oc.INDUSTRY
	</select>

</mapper>